<div class="container w-75 ">
  <div>
    <div class="main-content shadow row ">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4 headResize">Nyheter på {{category}}</h1>
            <hr>
          </div>
        </div>
        <br>
      </div>

      <div class="container" *ngFor='let rss of rsses' style="margin-top:30px;">

        <div class="row">
          <div class="col-md-12">
            <h5>{{rss.Title}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div [innerHTML]=rss.Image></div>
          </div>

          <div class="col-md-5">
            <div [innerHTML]=rss.Description></div>
          </div>

          <div class="col-md-2">
            <span *ngIf=rss.Category>#{{rss.Category}} <br /> </span>
            <a target="_blank" href="{{rss.Link}}">Länk</a>
          </div>

          <div class="col-md-3">
            <span>{{rss.Source}}</span> <br /><span>{{rss.PubDate | date : "y-MM-dd h:mm" }}</span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>